
   <div class="row backgroundStyle">
       <!--empty columns for centering-->
       <div class="col-md-3"> 
       </div>
       <div class="col-md-6 text-center headerText">
            <h1 id="mainText">Search for <b>IBP solution</b> or check your ticket></h1>
            <h4 id="subText">Simply type in your question or ticket number</h4> 
       </div>
       <div class="col-md-3">
       </div>
   </div>
<div class="row backgroundStyle bottomPadding">
    <!--1/2 view-->
    <div class="col-md-4">
    </div>
    <div class="col-md-4 center-block">
        <div class="form-group">
            <!--<h3>Search for answer</h3>-->
            <input
                type="text"
                id="searchAnswer"
                class="form-control"
                name="searchAnswer"
                ng-model="question"
                ng-model="id"
                placeholder="Describe your question here..."
                required>
            </input>
            <br/>
            <div
                class="searchBtn pull-right"
                ng-click="search(question)">
                Submit <span class= "searchPadding"><img src="../images/ibm-design-icons-forward/forward_32_blue.png" style="height: 24px; width:24px"></span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
    </div>
</div>
    <!--1/2 view-->
   <!-- <div class="col-md-3 center-block">
        <div class="form-group">
            <!--<h3>Check your ticket</h3>
            <input
                id="searchTicket"
                class="form-control"
                type="text" 
                name="searchTicket" 
                ng-model="id"
                placeholder="Enter ticket id number"
                required/>
            <br/>
            <div
                class="checkBtn pull-right"
                ng-click="checkTicket(id)">
                Check <span class="glyphicon glyphicon-chevron-right glyphColor"></span>
            </div>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>
<!--Answers row-->
<div class="row-fluid backgroundStyle">
    <div class="col-md-12 bottomMargin">
    <!--<h3>{{ allAnswers.length }} answers:</h3>-->
  
        <div ng-repeat="question in allQuestions | limitTo: 1">
            <p class="questions"> Question # {{$index +1}}: {{question.question[0]}} </p>
         </div>                                
                    <div class="col-md-4 bottomMargin" ng-repeat="answer in allAnswers">
                      <p class="answers"
                        ng-class="{'button': !isActive, 'button active': isActive}"
                        ng-init="isActive = false"
                        ng-click="isActive = !isActive"
                      
                      
                      ><span class="answerLabel"> Answer # {{ $index + 1}}: </span> {{ answer.answer[0] }}</p>
                      <p class="readMore">
                        <button class="readMoreBtn" ng-click="isActive = !isActive">Read more..</button>
                      </p> 
                    </div>
    </div>
</div>

