<div class="row">
    <!--1/2 view-->
    <div class="col-md-6">
        <label for="search" class="control-label">
            Search for answer
        </label>
        <input type="text" id="search" 
                name="searchField" 
                class="form-cotrol""
                ng-model="newQuestion.text"
                placeholder="Type your question"
                required/>
    </div>
    <!--1/2 view-->
    <div class="col-md-6">
        <label for="search" class="control-label">
            Check your ticket
        </label>
        <input type="text" id="search" 
                name="searchField" 
                class="form-cotrol""
                ng-model="newQuestion.text"
                placeholder="Enter ticket number"
                required/>
    </div>
</div>