<div class="row">
    <div class="container-fluid">
        <h1>Ticket info page</h1>
        <p>Feel free to edit ticket details if needed or post a comment to resolver.</p>
    </div>

    <div class="container col-md-6">
        <div class="infoContainer">
            <h4 class=infoTitle>Your ticket ID: {{ activeTicket.data.id }}</h4>
            <img ng-src="images/spinner.gif" class="spinner" name="spiningIcon1" ng-show="isLoading" alt="Loading.."/>
            <form id="activeTicketForm" class="form-horizontal" name="activeTicketForm" role="form" novalidate ng-show="!isLoading">

                <div class="form-group">
                    <label for="creationTime" class="col-md-4 control-label">
                        Created:
                    </label>
                    <div class="col-md-8">
                        <p class="form-control-static">{{ activeTicket.data.creationTime | date : 'h:mm:ss a MMM d, y'}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="status" class="col-md-4 control-label">
                        Status:
                    </label>
                    <div class="col-md-8">
                        <p class="form-control-static">{{ activeTicket.data.status }}</p>
                    </div>
                </div>
                 <div class="form-group">
                    <label for="resolver" class="col-md-4 control-label">
                        Resolver:
                    </label>
                    <div class="col-md-8">
                        <p class="form-control-static">{{ activeTicket.data.resolver }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="severity" class="col-md-4 control-label">
                        Severity:
                    </label>
                    <div class="col-md-8">
                        <p class="form-control-static">{{ activeTicket.data.severity }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ticketType" class="col-md-4 control-label">
                        Type:
                    </label>
                    <div class="col-md-8">
                        <select id="ticketType" name="typeSelectField" class="form-control" ng-model="activeTicket.data.type" required>
                            <option value="typeA">typeA</option>
                            <option value="typeB">typeB</option>
                            <option value="typeC">typeC</option>
                        </select>
                        <span ng-show="activeTicketForm.typeSelectField.$touched && activeTicketForm.typeSelectField.$invalid">Please select ticket type.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ticketPriority" class="col-md-4 control-label">
                        Priority:
                    </label>
                    <div class="col-md-8">
                        <select id="ticketPriority" name="prioritySelectField" class="form-control" ng-model="activeTicket.data.priority" required>
                            <option value="normal">normal</option>
                            <option value="important">important</option>
                            <option value="urgent">urgent</option>
                        </select>
                        <span ng-show="activeTicketForm.prioritySelectField.$touched && activeTicketForm.prioritySelectField.$invalid">Please select ticket priority.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="application" class="col-md-4 control-label">
                        Application:
                    </label>
                    <div class="col-md-8">
                        <select id="application" name="applicationSelectField" class="form-control" ng-model="activeTicket.data.application" required>
                            <option value="appA">appA</option>
                            <option value="appB">appB</option>
                            <option value="appC">appC</option>
                        </select>
                        <span ng-show="activeTicketForm.applicationSelectField.$touched && activeTicketForm.applicationSelectField.$invalid">Please select application name.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="region" class="col-md-4 control-label">
                        Region:
                    </label>
                    <div class="col-md-8">
                        <select id="region" name="regionSelectField" class="form-control" ng-model="activeTicket.data.region" required>
                            <option value="regionA">Region A</option>
                            <option value="regionB">Region B</option>
                            <option value="regionC">Region C</option>
                        </select>
                        <span ng-show="activeTicketForm.regionSelectField.$touched && activeTicketForm.regionSelectField.$invalid">Please select region.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="firstName" class="col-md-4 control-label">
                        Your name:
                    </label>
                    <div class="col-md-8">
                        <input type="text" id="firstName" name="firstNameField" class="form-control" ng-model="activeTicket.data.firstName" required/>
                        <span ng-show="activeTicketForm.firstNameField.$touched && activeTicketForm.firstNameField.$invalid">First name is required.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-md-4 control-label">
                        Your last name:
                    </label>
                    <div class="col-md-8">
                        <input type="text" id="lastName" name="lastNameField" class="form-control" ng-model="activeTicket.data.lastName" required/>
                        <span ng-show="activeTicketForm.lastNameField.$touched && activeTicketForm.lastNameField.$invalid">Last name is required.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-md-4 control-label">
                        Your e-mail:
                    </label>
                    <div class="col-md-8">
                        <input type="email" id="email" name="emailField" class="form-control" placeholder="full address" data-error="Bruh, that email address is invalid" ng-model="activeTicket.data.email" required/>
                        <span ng-show="activeTicketForm.emailField.$touched && activeTicketForm.emailField.$pristine">E-mail address is required.</span>
                        <span ng-show="activeTicketForm.emailField.$dirty && activeTicketForm.emailField.$invalid">E-mail address is invalid.</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="button" class="col-md-4 control-label">
                    </label>
                    <div class="col-md-8">
                        <button type="button" class="btn btn-primary" 
                        ng-disabled="activeTicketForm.typeSelectField.$pristine ||
                                    activeTicketForm.prioritySelectField.$pristine ||
                                    activeTicketForm.applicationSelectField.$pristine ||
                                    activeTicketForm.regionSelectField.$pristine ||
                                    activeTicketForm.firstNameField.$pristine ||
                                    activeTicketForm.lastNameField.$pristine ||
                                    activeTicketForm.emailField.$pristine ||
                                    activeTicketForm.questionField.$pristine ||
                                    activeTicketForm.typeSelectField.$touched && activeTicketForm.typeSelectField.$invalid ||
                                    activeTicketForm.firstNameField.$touched && activeTicketForm.firstNameField.$invalid ||
                                    activeTicketForm.lastNameField.$touched && activeTicketForm.lastNameField.$invalid ||
                                    activeTicketForm.emailField.$touched && activeTicketForm.emailField.$invalid" 
                        ng-click="updateDetails()" value="Update details">
                        Update details
                        </button>
                        <span ng-show="activeTicketForm.$submitted">Your ticket has been submitted successfully.</span>
                        <span class="reset" ng-click="resetForm()">Reset changes</span>
                    </div>
                </div>

            </form>
        </div> 
    </div>
    <div class="col-md-6">
        <div class="infoContainer">
            <h4 class=infoTitle>Question resolution</h4>
            <img ng-src="images/spinner.gif" class="spinner" name="spiningIcon1" ng-show="isLoading" alt="Loading.."/>
                <div class="answer-container" ng-show="!isLoading">
                    <div class="chat-container">
                        <div class="row" ng-repeat="post in activeTicket.data.answer.chat">
                            <div class="col-sm-9">
                                <p>{{ post.name }}: <span>{{ post.text }}</span></p>
                            </div>
                            <div class="col-sm-3">
                                <p class="left">{{ post.timeStamp | date : 'h:mm:ss a MMM d, y'}}</p>
                            </div> 
                        </div>
                    </div>
                    <form id="ticketAnswerForm" name="ticketAnswer">
                        <div class="form-group">
                            <label for="post">Write a comment:</label>
                            <textarea
                                id="post" 
                                name="post"
                                class="form-control" 
                                ng-model="activeTicket.data.answer.newText"
                                required
                            ></textarea>
                        </div>
                        <div class="form-group">
                            <input
                                class="btn btn-primary"
                                type="button"
                                ng-click="submitPost(activeTicket)"
                                value="Submit post"/>
                        </div>
                    </form>
                </div>
        </div>
    </div>
</div>