<div class="row backgroundStyle">
    <div class="col-md-8 center-block">
        <form id="newTicketForm" class="form-horizontal" name="newTicketForm" role="form" novalidate>
            <label class="col-md-4 control-label">
            </label>
            <div class="col-md-8">
                <h1>Submit new ticket</h1>
            </div>
            <!-- TYPE -->
            <div class="form-group">
            <label for="ticketType" class="col-md-4 control-label">
                    Please select type:
                </label>
                <div class="col-md-8">
                    <select id="ticketType" name="typeSelectField" class="form-control" ng-model="newTicket.ticketType" required>  
                        <option value ="" disabled selected>type0 &#8964;</span></option>
                        <option value="typeA">typeA</option>
                        <option value="typeB">typeB</option>
                        <option value="typeC">typeC</option>
                    </select>
                    <span ng-show="newTicketForm.typeSelectField.$touched && newTicketForm.typeSelectField.$invalid">Please select ticket type.</span>
                </div>
            </div>
            <!-- PRIORITY -->
            <div class="form-group">
                <label for="ticketPriority" class="col-md-4 control-label">
                    Please select priority:
                </label>
                <div class="col-md-8">
                    <select id="ticketPriority" name="prioritySelectField" class="form-control" ng-model="newTicket.ticketPriority" required>
                        <option value ="" disabled selected>neutral &#8964;<span </span></option>
                        <option value="normal" selected>normal</option>
                        <option value="important">important</option>
                        <option value="urgent">urgent</option>
                    </select>
                    <span ng-show="newTicketForm.prioritySelectField.$touched && newTicketForm.prioritySelectField.$invalid">Please select ticket priority.</span>
                </div>
            </div>
            <!-- APPLICATION -->
            <div class="form-group">
                <label for="application" class="col-md-4 control-label">
                    Please select application:
                </label>
                <div class="col-md-8">
                    <select id="application" name="applicationSelectField" class="form-control" ng-model="newTicket.application" required>
                        <option value ="" class = "line1" disabled selected>app0 &#8964;</option>                       
                        <option value="appA" selected>appA</option>
                        <option value="appB">appB</option>
                        <option value="appC">appC</option>
                    </select>
                    <span ng-show="newTicketForm.applicationSelectField.$touched && newTicketForm.applicationSelectField.$invalid">Please select application name.</span>
                </div>
            </div>
            <!-- REGION -->
            <div class="form-group">
                <label for="region" class="col-md-4 control-label">
                    Please select region:
                </label>
                <div class="col-md-8">
                    <select id="region" name="regionSelectField" class="form-control" ng-model="newTicket.region" required>
                        <option value ="" disabled selected>Region 0 &#8964;</option>
                        <option value="regionA" selected>Region A</option>
                        <option value="regionB">Region B</option>
                        <option value="regionC">Region C</option>
                    </select>
                    <span ng-show="newTicketForm.regionSelectField.$touched && newTicketForm.regionSelectField.$invalid">Please select region.</span>
                </div>
            </div>
            <!-- FIRST NAME -->
            <div class="form-group" ng-class="{ 'has-error' : newTicketForm.firstNameField.$invalid && !newTicketForm.firstNameField.$pristine }">
                <label for="firstName" class="col-md-4 control-label">
                    First Name:
                </label>
                <div class="col-md-8">
                    <input type="text" id="firstName" placeholder="Vardenis" name="firstNameField" class="form-control inputStyle" ng-model="newTicket.firstName" ng-model-options="{ updateOn: 'blur' }" required/>
                    <span ng-show="newTicketForm.firstNameField.$touched && newTicketForm.firstNameField.$invalid">First name is required.</span>
                </div>
            </div>
            <!-- LAST NAME -->
            <div class="form-group" ng-class="{ 'has-error' : newTicketForm.lastNameField.$invalid && !newTicketForm.lastNameField.$pristine }">
                <label for="lastName" class="col-md-4 control-label">
                    Last Name:
                </label>
                <div class="col-md-8">
                    <input type="text" id="lastName" placeholder="Pavardenis" name="lastNameField" class="form-control inputStyle" ng-model="newTicket.lastName" ng-model-options="{ updateOn: 'blur' }" required/>
                    <span ng-show="newTicketForm.lastNameField.$touched && newTicketForm.lastNameField.$invalid">Last name is required.</span>
                </div>
            </div>
            <!-- EMAIL -->
            <div class="form-group" ng-class="{ 'has-error' : newTicketForm.emailField.$invalid && !newTicketForm.emailField.$pristine }">
                <label for="email" class="col-md-4 control-label">
                    Your e-mail:
                </label>
                <div class="col-md-8">
                    <input type="email" id="email" placeholder="emailaddress@gmail.com" emailField" class="form-control inputStyle" ng-model="newTicket.email" ng-model-options="{ updateOn: 'blur' }" required/>
                    <span ng-show="newTicketForm.emailField.$touched && newTicketForm.emailField.$pristine">E-mail address is required.</span>
                    <span ng-show="newTicketForm.emailField.$dirty && newTicketForm.emailField.$invalid">E-mail address is invalid.</span>
                </div>
            </div>
            <!-- QUESTION -->
            <div class="form-group" ng-class="{ 'has-error' : newTicketForm.questionField.$invalid && !newTicketForm.questionField.$pristine }">
                <label for="question" class="col-md-4 control-label">
                    Please describe your question:
                </label>
                <div class="col-md-8">
                    <textarea rows="1" id="question" placeholder="Please describe your question" questionField" class="form-control inputStyle" ng-model="newTicket.question" required/>
                    <span ng-show="newTicketForm.questionField.$touched && newTicketForm.questionField.$invalid">Question is required.</span>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-md-4 control-label">
                    Please attach evidence or supplement material:
                </label>
                <div class="btn">
                    <label for="file" class="custom-upload">
                     <input type="file" id="file" file-model="newTicketFile"/>
                    Upload
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="button" class="col-md-4 control-label">
                </label>
                <div class="col-md-8">
                    <button class="btn submitBtn" 
                    ng-disabled="newTicketForm.$invalid"
                    ng-click="submitForm()">
                    Submit
                    </button>
                    <span ng-show="newTicketForm.$submitted">Your ticket has been submitted successfully.</span>
                    <span class="reset" ng-click="resetForm()">Reset fields</span>
                </div>
            </div>
        </form>
        <div class="testFileSub">
        <button class="btn btn-primary" ng-click="submitForm()"> Test file submition </button>
                    <p> Form status </p>
                    <p> submitted : {{newTicketForm.$submitted}} </p>
                    <p> valid : {{newTicketForm.$valid}} </p>
                    <p> pristine : {{newTicketForm.$pristine}} </p>  
        </div>          
    </div>
</div>