body{
    max-height: 100%;
}
.backgroundStyle{
    background-color: #f4f4f4;
    
}
.bottomPadding{
    padding-bottom: 60px;
}
.headerText{
    margin-top: 60px;
    margin-bottom: 60px;
}
#mainText, #subText{
    color: #000;
    line-height: 14px;
}
#searchTicket {
    color: #000000;
    max-height: 60px;
    border-radius: 0px;;
}
/*
placeholder styling
*/
#searchAnswer::-webkit-input-placeholder {
   color: #2D3737;
}

#searchAnswer:-moz-placeholder { /* Firefox 18- */
   color: #2D3737;  
}

#searchAnswer::-moz-placeholder {  /* Firefox 19+ */
   color: #2D3737;
}

#searchAnswer:-ms-input-placeholder {  
   color: #2D3737;
}
/*
End of placeholder styling
*/
.checkBtn{
    color: #000;
    font-weight: 600;
}
.searchBtn{
    color: #000;
    font-weight: 900;
}
.searchBtn:hover{
    cursor: pointer;
    color: #4178BE;
}
.checkBtn:hover{
    cursor: pointer;
    color: #4178BE;
}
.glyphColor{
    color: #4178BE;
}
.searchPadding{
    padding-bottom: 60px;
    color: 4178BE;
}

/*Search answer styling*/
#searchAnswer {
    max-height: 60px;
    border-radius: 0px;
    border: 0px;
    outline: none;
}
.answers{
    background-color: white;
    height: 120px;
    width: 400px;
    color: #000000;
    font-size: 12;
    padding: 20px;
    overflow: hidden;
    line-height: 20px;
    height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
}
.showText{
     overflow: visible;
     height: 400px;
}
.answerLabel{
    font-size: 16px;
    font-weight: 600;
    color: #FDD600;
}
#visibleAnswer{
    overflow: hidden;
}
.readMore{
    background-color: #fff;
    width:400px;
    margin-bottom: 40px;
    padding-top: 20px; 
}
.readMoreBtn{
    background: transparent;
    border: none;
    color: #4178be;
}