body,html {
    background-color: #C7C7C7;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #ffffff;
    height: 100%;
}
/* header footer common */
header, footer {
    background-color: #ffffff;
    /*background-color: #26343F;*/
	color: #ffffff;
}
.navbar-custom{
    background-color: #959595;
}
.navbar-custom a{
    color: #000;
}
.navbar-custom li a:hover{
    background-color: transparent;
    border-bottom: 4px solid #4178BE;
}
.navbar-custom li a:focus{
    background-color: transparent;
    border: none;
    outline: none;
    color: #4178BE;
}
.navbar-custom li a:visited{
    background-color: transparent;
}
/* colors */
.description {
	color: #41D6C3;
}
footer {
  /*position: absolute;*/
  float:bottom;
  /*bottom: 0;*/
  width: 100%;
}
